<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/2983/2983820.png">
    <title>Aprende a hacer un podcast online</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <nav class="navbar navbar-light bg-light">
                <div class="container">
                  <a class="navbar-brand" href="/">
                    <img src="https://cdn.discordapp.com/attachments/887552499324715019/946890892541825055/APO.png" alt="" width="50" height="30">
                  </a>
                </div>
              </nav>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/">Página Principal</a>
              <a class="nav-link" href="/cursos">Cursos Online</a>
              <a class="nav-link" href="/precios">Precios y ofertas</a>
              <a class="nav-link" href="/sobrenosotros">Sobre Nosotros</a>
              <a class="nav-link" href="/loginosignup">Registrate o Inicia sesión</a>
              <a class="nav-link" href="/profile">Perfil</a>
              <a class="nav-link disabled" href="#">¡Pronto!</a>
            </div>
          </div>
        </div>
      </nav>
      <nav>
          <p style="text-align: center;">¡Hola compañero o compañera! Si siempre has querido hacer pódcast y aprender sobre ellos estás en el sitio correcto, aquí en AOP te enseñaremos a hacer pódcast de una manera rápida y sencilla.</p>
          <p style="text-align: center;">Pero primero por que no, te decimos de manera clara y precisa que es un pódcast, en caso de que no sepas sobre que te vamos a enseñar. Por cierto si quiere saber más información sobre nosotros ve al apartado <a href="/sobrenosotros">Sobre Nosotros.</a></p>
          <p style="text-align: center;">¿Que es un pódcast? Un pódcast es una serie episódica de archivos de audio que un usuario puede descargar a un dispositivo personal o bien escuchar en línea.</p>
          <p style="text-align: center;">Muy bien ahora ve a <a href="/loginosignup">Registrate o Inicia sesión</a> y create una cuenta o inicia sesión para empezar a hacer un podcast.</p>
      </nav>
</body>
</html>