<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile Page</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <nav class="navbar navbar-light bg-light">
                <div class="container">
                  <a class="navbar-brand" href="/">
                    <img src="https://cdn.discordapp.com/attachments/887552499324715019/946890892541825055/APO.png" alt="" width="50" height="30">
                  </a>
                </div>
              </nav>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/">Página Principal</a>
              <a class="nav-link" href="/cursos">Cursos Online</a>
              <a class="nav-link" href="/precios">Precios y ofertas</a>
              <a class="nav-link" href="/sobrenosotros">Sobre Nosotros</a>
              <a class="nav-link" href="/loginosignup">Registrate o Inicia sesión</a>
              <a class="nav-link" href="/profile">Perfil</a>
              <a class="nav-link disabled">¡Pronto!</a>
            </div>
          </div>
        </div>
      </nav>
      <nav>
    <div class="container">
      <header class="text-center">
        <h1><span class="fa fa-user"></span>Perfil</h1>
        <a href="/logout" class="btn btn-light btn-sm">
          Logout
        </a>
      </header>
      <br>
    <p style="text-align: center;">¿Listo para comenzar? Si es así por favor descargar este PDF para poder empezar => <a href="https://drive.google.com/file/d/1IIJmQ47D3seqzJf5tgacAOvfpJgO3skM/view?usp=sharing">Como hacer un podcast</a></p>
  </body>
</html>